<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" allow-return-values="true">

<listeners>
  <listener class-name="org.uncommons.reportng.HTMLReporter"/>
  <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>

<test verbose="2" preserve-order="true" name="Test">
  <classes>
    <class name="com.restassured.RunTest"/>
    <class name="com.restassured.data.CasesDataProvider"/>
    <class name="com.restassured.utils.ReadExcelClass"/>
  </classes>
</test>
</suite>
